.nav-item{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}
.navbar{
    background:#F97300;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link{
    margin-right: 2em !important;
}
.nav-link:hover{
    background: #f4f4f4;
    color: #f97300;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background:#fff !important;
}

.dropdown-item:hover{
    background: #f97300;
    color: #f4f4f4;
}
.dropdown-item{
    background: #f4f4f4;
    color: #f97300;
}
.dropdown-menu{
    background: #f4f4f4;
}

.header{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../images/headerback.jpg");
    background-position: center center;
    background-size: cover;
}
.overlay{
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(244, 244, 244, 0.79);
}
.description{
    position: absolute;
    top: 30%;
    margin: 0 auto;
    padding: 2em;
    left: 0;
    right: 0;
}
.description h1{
    color:#F97300 ;
}
.description p{
    position: relative;
    color:#666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.description button{
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
}

